@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/card.css");
@import url("../blocks/footer.css");

@media screen and (max-width: 926px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
  }

  .profile__description {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 530px) {
  .header {
    padding-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }

  .profile {
    /* background-color: pink; */
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 36px 19px 0 19px;
    width: 100%;
    object-fit: cover;
  }
}
